/* similler style  */
* {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

.section-taitel {
    color: #131313;
    font-size: 3rem;
    font-size: 45px;
    font-weight: 600;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    cursor: pointer;
}

/* header styles  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* *******************banner style  */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-taitel {
    color: #131313;
    font-size: 4em;
    font-weight: 700;
}

.banner-description {
    font-size: 1em;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}

.banner img {
    margin-top: 35px;
    width: 90%;
}

/* main stayle  */

main {
    width: 1240px;
    margin: 70px auto;
}

/* futues section  */

.team-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-text-container {
    padding-left: 70px;
    padding-right: 70px;
}

.team-taitel {
    font-size: 2.8rem;
    font-weight: 700;
}

.team-taitel .list {
    color: #727272;
}

.team-taitel .Features {
    color: #FF900E;
}

/* facts-card-container section stayle */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.card {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    /* display: flex; */
    text-align: center;
    padding: 35px;
    margin-top: 30px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    font-weight: 700;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-taitel {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 7px;
}

/* sopncer style  */

.Sponspors {
    text-align: center;
    margin-top: 50px;
}

.sponspors-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}

.sponspors-img-container img {
    width: 200px;
    height: 50px;

}


/* responsiv style ********** */


/* for mobil  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .facts-card-container,
    .sponspors-img-container {

        flex-direction: column;
    }

    .team-container {
        flex-direction: column;
        display: block;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        margin: 10px;
    }

    .teams-text-container {
        padding: 1px;
        /* width: 320px; */
    }

    main {
        width: auto;
        margin: auto;
    }

    .facts-card-container {
        padding: 20px;
    }




}

/* for tablet  */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .team-container {
        flex-direction: column;
    }

    .team-container {
        margin: 20px;
    }

    .teams-img-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;

    }

    .teams-text-container {
        padding: 50px;
    }

    main {
        width: auto;
        margin: auto;
    }
}